[Unit]
Description=Text Processor API Service
After=network.target

[Service]
Type=simple
User=http
WorkingDirectory=/var/www/tg-text.ru/api
Environment="PATH=/usr/bin:/usr/local/bin"
ExecStart=/var/www/tg-text.ru/api/venv/bin/gunicorn --bind 127.0.0.1:5000 --workers 2 --timeout 30 app:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

